<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Introduction to Backbone.js!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="lib/bootstrap.css">
        <script src="lib/jquery.js"></script>
        <script src="lib/tether.js"></script>
        <script src="lib/bootstrap.js"></script>
        <script src="lib/underscore.js"></script>
        <script src="lib/backbone.js"></script>
        <script src="lib/handlebars.js"></script>
        <script id="car-table-template" type="text/template">
          <h1><%- headerText %></h1>
          <small><%- slogan %></small>
        </script>
        <script id="car-form-template" type="text/template">
          <div>
            <label for="make-input">Make:</label>
            <input type="text" id="make-input" value="">
          </div>
          <div>
              <label for="model-input">Model:</label>
              <input type="text" id="model-input" value="">
          </div>
          <div>
              <label for="year-input">Year:</label>
              <input type="text" id="year-input" value="">
          </div>
          <div>
              <label for="color-input">Color:</label>
              <input type="text" id="color-input" value="">
          </div>
          <div>
              <label for="price-input">Price:</label>
              <input type="text" id="price-input" value="">
          </div>
          <button type="button" id="add-car-button">Add Car</button>
        </script>
    </head>

    <body>
        <main></main>
        <script src="js/car.js"></script>
        <script src="js/cars.js"></script>
        <script src="js/page-header.js"></script>
        <script src="js/car-table.js"></script>
        <script src="js/car-form.js"></script>
        <script src="js/index.js"></script>
    </body>

</html>
